@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <a class="dropdown-toggle" href="#">@("Hello " + User.Identity.GetUserName() + "!")</a>
    <ul class="dropdown-menu place-right" data-show="hover" data-role="dropdown">
        <li>@Html.ActionLink("Portal", "Index", "Portal", routeValues: null, htmlAttributes: new { title = "Portal" })</li>
        <li>@Html.ActionLink("Identity", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })</li>
        <li>@Html.ActionLink("Log Off", "LogOff", "Account")</li>
    </ul>
}
else
{
    <a class="dropdown-toggle" href="#">Login</a>
    <ul class="dropdown-menu place-right" data-show="hover" data-role="dropdown">
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    </ul>
}
