<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="product" content="Maker 365">
    <meta name="description" content="Maker 365">
    <meta name="author" content="Marco Parenzan">

    <link href="~/Content/metro-bootstrap.css" rel="stylesheet" />
    <link href="~/Content/iconFont.css" rel="stylesheet" />
    @RenderSection("css", false)

    <title>Maker 365</title>

    <style>
        .container {
            width: 1040px;
        }
    </style>
</head>
<body class="metro">
    <div class="container">

        <header class="margin20 nrm nlm">
            <div class="clearfix">
                <nav class="horizontal-menu place-right">
                    <ul>
                        <li>@Html.Partial("_login")</li>
                    </ul>
                </nav>
                <div class="horizontal-menu place-right" style="padding-top:20px;">
                    @Html.Partial("_search")
                </div>
                <a class="horizontal-menu place-left" href="#" title="">
                    <h1>Maker 365</h1>
                </a>
            </div>

            <div class="main-menu-wrapper">
                @RenderSection("menu", false)
            </div>
        </header>

        <div class="main-content clearfix">
             @RenderBody()
        </div> <!-- End of tiles -->

        <footer>
            <div class="bottom-menu-wrapper">
                <ul class="horizontal-menu compact">
                    <li>&copy; Maker 365</li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Legal</a></li>
                    <li><a href="#">Advertise</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Feedback</a></li>
                </ul>
            </div>
        </footer>
    </div>

    <script src="~/Scripts/jquery-2.1.1.js"></script>
    <script src="~/Scripts/jquery.widget.min.js"></script>
    <script src="~/Scripts/jquery.mousewheel.js"></script>
    <script src="~/Scripts/Metro/metro-loader.js"></script>
    @RenderSection("scripts", false)

</body>
</html>